$colors: (
   red: #ef5350,
   pink: #ff5790,
   purple: #c35bd5,
   blue: #60ace9,
   glue: #009688,
   green: #67b46a,
   yellow: #f7e32e,
   orange: #f49509,
   dlue: #6c99ae,
   gray: #cccccc
);


@each $prop, $value in $colors {
   .bg-#{$prop} {
      background-color: var(--clr-#{$prop});
   }

   .c-#{$prop} {
      color: var(--clr-#{$prop});
   }

   .f-#{$prop} {
      fill: var(--clr-#{$prop});
   }
}

