//To work with typography stuff
$cases: (
   l: lowercase,
   u: uppercase,
   c: capitalize
);

@each $prop, $value in $cases {
   .case-#{$prop} {
      text-transform: $value;
   }
}

.text-underline {
   text-decoration: underline;
}

$alignments: (
   l: left,
   r: right,
   c: center
);

@each $prop, $value in $alignments {
   .text-align-#{$prop} {
      text-align: $value;
   }
}